<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://host.docker.internal:5432/ApartmentHub</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">16042002</property>
<!--        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.highlight_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="org.example.entity.Amenity" />
        <mapping class="org.example.entity.Announcement" />
        <mapping class="org.example.entity.Apartment" />
        <mapping class="org.example.entity.Compliant" />
        <mapping class="org.example.entity.Flats" />
        <mapping class="org.example.entity.Maintenance" />
        <mapping class="org.example.entity.Parking" />
        <mapping class="org.example.entity.Resident" />
        <mapping class="org.example.entity.Visitor" />

    </session-factory>
</hibernate-configuration>